:root {
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --white: #FFFFFF;
    --rapture-blue: #79C8C7;
    --police-blue: #2C6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012F34;
    --dark-green: #002529;
}
.mainAbout{
    background-color: var(--midnight-green);
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.Header_main{
    background-color: var(--midnight-green);
    
    color: var(--white);
    /* position: relative;
    overflow: hidden;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
.Header_main h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    height: 100px;
    width: 350px;
    text-align: center;
    margin-bottom: 40px;
    /* margin-left: 165px; */
    /* padding-right: 30px;
    padding-top: 106px; */
    /* margin-bottom: 176px;
    margin-top: 111px; */
}
.about_banner_section_divider {
    width: 50px;
    height: 4px;
    background-color: var(--light-coral);
    border: none;
    /* margin-top: 111px; */
    margin-bottom: 40px;
}
.Header_main p{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    height: 112px;
    width: 730px;
    /* margin-right: 165px;
    margin-bottom: 120px;
    margin-left: 158px; */
    
    
}