:root {
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --white: #FFFFFF;
    --rapture-blue: #79C8C7;
    --police-blue: #2C6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012F34;
    --dark-green: #002529;
}
.Header_main{
    background-color: var(--midnight-green);
    display: flex;
    justify-content: space-between;
    color: var(--white);
    position: relative;
    overflow: hidden;
}
.Header_main h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
  
    width: 350px;
    margin-left: 165px;
    padding-right: 30px;
    margin-bottom: 176px;
    margin-top: 111px;
}
.about_banner_section_divider {
    width: 50px;
    height: 4px;
    background-color: var(--light-coral);
    border: none;
    margin-top: 111px;
    margin-bottom: 40px;
}
.Header_main p{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  
    width: 730px;
    margin-right: 165px;
    margin-bottom: 120px;
}

/* -------------------
Tablet media query from 1440px to 768px 
----------------------*/
@media (max-width:1440px) {
    .Header_main{
        padding: 90px 40px 102px 40px;
        flex-direction:column;
        align-items: center;
        text-align: center;
    }
    .Header_main h1{
        font-weight: 700;
        font-size: 64px;
        line-height: 100px;
        height: 100px;
        width: 350px;
        margin-left: 0px;
        padding-right: 0px;
        margin-bottom: 34px;
        margin-top: 0px;
    }
    .about_banner_section_divider {
        display: none;
    }
    .Header_main p{
        font-size: 15px;
        width: 457px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}