:root {
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --white: #FFFFFF;
    --rapture-blue: #79C8C7;
    --police-blue: #2C6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012F34;
    --dark-green: #002529;
}

.Main_1{
    color: var(--white);
    background-color: var(--deep-jungle-green);
}

.people_container{
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 30px;
   text-align: center;
   justify-items: center;
   align-items: center;
   justify-content: center;
  padding-top: 64px;
  padding-bottom: 168px;
  margin-left: 165px;
  margin-right: 165px;
  /* padding-left: 400px;
  padding-right: 400px; */
}
.Main_people h2{
    color: var(--white);
    text-align: center;
    padding: 140px 260px 64px 260px;
    font-weight: 730;
font-size: 52px;
    height: 48px;
    text-align: center;
}

.Main_1 img{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid var(--rapture-blue);
}
.Main_1 .description{
    display: none;
}

.box-nikita, .box-drake{
    text-align: center;
    background-color: var(--sacramento-state-green);
    width: 350px;
    height: 253px;
}
.box-christian, .box-griffin{
    text-align: center;
    background-color: var(--sacramento-state-green);
    width: 350px;
    height: 253px;

}
.box-cruz, .box-aden{
    text-align: center;
    background-color: var(--sacramento-state-green);
    width: 350px;
    height: 253px;
}

.box-nikita, .box-christian, .box-cruz{
     padding-top: 32px;
     margin-top: 30px;
}

.box-drake, .box-griffin, .box-aden{
    padding-top: 32px;
    margin-top: 30px;

}

.Main_1 .name{
    padding-top: 16px;
    color: var(--rapture-blue);
    
}

.Main_1 button{
    color: var(--sacramento-state-green);
    width: 56px;
    height: 56px;
    margin-top: 35px;
    border-radius: 50%;
    background-color:var(--light-coral);
    border: none;
}
.Main_1 button:hover{
    background-color: var(--rapture-blue);
}

.rectangle {
    height: 4px;
    width: 16px;
    background-color:var(--sacramento-state-green);
    margin-left: 20px;
    margin-top: 4px;
  }
  .rectangle-copy{
    height: 4px;
    width: 16px;
    background-color:var(--sacramento-state-green);
    margin-left: 20px;
    margin-top: -4px;
    transform: rotate(90deg);
  }
