.footer-section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    padding: 55px 165px 55px 165px;
    background: #002529;
    color: white;
    overflow-x: hidden;
  }
  
  .links a {
    margin-right: 40px;
  }

  a{
    color: white;
    text-decoration: none;
  }

  a:hover{
    color: lightcoral;
  }

  .col1_col2 {
    display: flex;
    flex-direction: row;
  }

  .col-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 125px;
  }
  
  .col-2{
    color:  gray;
  }

  .copyright{
    margin-top: 40px;
    color: gray;
  } 
  
  .icons{
    display:flex;
    flex-direction:row;
    justify-content: end;
    font-size: 30px;
  }

  .icons a {
    margin-left: 16px;
  }

  .icons.a:hover{
    color: lightcoral;
  }
  .fa-facebook:hover{
    color: #1877f2; color:red;
  }