* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

/* ------------------
colors
-------------------- */
:root {
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --white: #FFFFFF;
    --rapture-blue: #79C8C7;
    --police-blue: #2C6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012F34;
    --dark-green: #002529;
}

/* -------------------
typhography 
---------------------*/

.h1_large {
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
}
.h1_small {
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
}
.h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
.h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.body_1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
} 
.body_2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
} 

/* ------------------
buttons
-------------------- */

.btn {
    border-radius: 24px;
    padding: 9px 33px 11px 32px;
}

.primary_btn-light {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: var(--white);
}
.primary_btn-light:hover {
    background-color: var(--white);
    color: var(--dark-green);
}

.primary_btn-dark {
    border: 2px solid #012F34;
    background-color: transparent;
    color: var(--sacramento-state-green);
}
.primary_btn-dark:hover {
    background-color: var(--sacramento-state-green);
    color: var(--white);
}

.secondary_btn-light {
    border: 2px solid var(--white);
    background-color: var(--white);
    color: var(--dark-green);
}
.secondary_btn-light:hover {
    background-color: var(--rapture-blue);
    color: var(--dark-green);
}


/* Header nav */


.header_nav{
    padding: 73px 165px 13px 165px;
    background-color:var(--midnight-green);
    color: white;
}
.nav_h2 {
    margin-right: 42px;
    display: inline-block;
}

.nav_word{
    word-spacing: 40px;
    margin-left: 40px;
}
a:link {
    text-decoration: none;
}
.nav_word:link{
    color: var(--white);
}
.nav_word.nav:visited{
    color: var(--white);
}
.nav_word.nav:hover{
    color: var(--light-coral);
}
.header_nav_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left_header{
    display: flex;
    align-items: center;
}
.right_header{
    float: right;
    display: flex;
    align-items: center;
}

/* Mobile menu */

.mobile_overlay_container{
    display: none;
   position: fixed;
   text-align: left;
   top: 0;
   right: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.5);
   z-index: 20;
}
.mobile_nav_inner{
    position: fixed;
    right: 0;
    top: 0;
    width: 255px;
    height: 100%;
    background: var(--police-blue);
    padding: 56px 25px 0px 48px;
}
.mobile_nav_inner:after{
    position: absolute;
    content: '';
    right: -100px;
    bottom: 0;
    width: 200px;
    height: 200px;
    background-image: url(../IMG/bg-pattern-about-1-mobile-nav-1.svg);
    background-repeat: no-repeat;
}
p.mobile_nav_close{
    text-align: right;
}
.mobile_nav_close{
    cursor: pointer;
}
.mobile_nav_open{
    display: none;
    cursor: pointer;
    padding: 0;
}
.mobile_overlay_container ul{
    margin-top: 40px;
    list-style: none;
}
.mobile_overlay_container ul li{
    margin-top: 24px;
    margin-bottom: 30px;
}.mobile_overlay_container ul li a{
    transition: 0.3s;
    color: var(--white);
}

/*----------------------- 
Header baner
----------------------- */
.Header_banner{
    background-color: var(--midnight-green);
    color: var(--white);
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}
.h2_title{
    width: 800px;
    margin-left: 165px; 
    margin-top: 120px;
    margin-bottom: 250px; 
}
.home_banner_section_divider {
    width: 50px;
    height: 4px;
    background-color: var(--rapture-blue);
    border: none;
    margin-top: 130px;
    margin-bottom: 79px;
    margin-left: 40px;
}
.p_header{
    width: 370px;

    margin-right: 100px;

    margin-right: 165px;

    margin-left: 40px;
}
.red{
    color:#F67E7E;
    margin: 0;
    display: inline;
}

/* ---------------------
Home Main 1
---------------------- */

.home_main-1 {
    padding: 140px 165px 140px 165px;
    background-color: var(--sacramento-state-green);
    position: relative;
    overflow: hidden;
}

.home_main-1_section_divider {
    width: 50px;
    height: 4px;
    background-color: var(--light-coral);
    border: none;
    margin-bottom: 54px;
}

.home_main-1 > div{
    display: flex;
    flex-direction: row;
}
.maim_description_2{
margin-bottom: 120px;
}
.home_main-1_title_container {
    color: var(--white);
    width: 50%;
    margin-right: 70px;
}

.home_main-1_title_container .h2 {
    width: 420px;
}

.home_main-1_description_container {
    width: 50%;
}

.home_main-1_description_box {
    display: flex;
    flex-direction: row;
}

.home_main-1_description_box > div {
    margin: 0 0 32px 23px;
}

.home_main-1_description_icon {
    width: 72px;
    height: 72px;
}

.home_main-1_description_icon-1 {
    margin-left: 4px;
}

.home_main-1_description_box .h3{
    color: var(--light-coral);
    margin-bottom: 16px;
}

.home_main-1_description_box .body_2 {
    color: var(--white);
    opacity: 0.8;
}
/* ----------------- */

/* -------------------
Background patterns
--------------------- */
.bg-pattern-home-1 {
    position: absolute;
    top: 120px;
    left: -100px;
}

.bg-pattern-home-2 {
    position: absolute;
    right: 165px;
    bottom: 0;
}

.bg-pattern-home-3 {
    position: absolute;
    right: -100px;
    bottom: 0;
}

.bg-pattern-home-4 {
    position: absolute;
    left: 0;
    top: 0; 
}

.bg-pattern-home-5 {
    position: absolute;
    right: 0;
    bottom: 0; 
}

.bg-pattern-home-6-about-5 {
    position: absolute;
    left: 0;
    bottom: 0px; 
}

.bg-pattern-about-1-mobile-nav-1 {
    position: absolute;
    right: -100px;
    bottom: 0; 
}

.bg-pattern-about-4 {
    position: absolute;
    left: 0;
    top: 0; 
}
.bg-pattern-about-2-contact-1 {
    position: absolute;
    left: -100px;
    bottom: 390px; 
}
.bg-pattern-contact-2 {
    position: absolute;
    right: -100px;
    bottom: 0; 
}
.bg-pattern-about-2-main-1{
    position: absolute;
    float: inline-start;
    left: -100px;
}
.bg-pattern-home-4-about-3{
    position: absolute;
    right: 0;
    bottom: -960px;
}
.bg-pattern-contact-2-clone{
    display: none;
}


/* About main 2 */

.about-main_2{
    background-color: var(--sacramento-state-green);
    position: relative;
    
}
.about-main_clients{
    color: var(--white);
    text-align: center;
    padding: 140px 165px 70px 165px;
}
.about-img_container{
    display: flex;
    align-items: center;
    /* text-align: center; */
    padding: 0px 165px 151px 165px;
    /* flex-wrap: wrap;
    justify-content: center; */
}
.about-img_about{
    width: 70%;
}

/* ----------------------
Foter_section_1
------------------------- */
.footer_1{
    background-color: var(--light-coral);
    color: var(--sacramento-state-green);
    padding: 76px 263px 76px 263px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* -----------------------
Contact us main
-------------------------- */
.main_contact_us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--midnight-green);
    padding: 107px 165px 90px 165px;
    position: relative;
    overflow: hidden;
}
.Main_name{
    color: var(--white);
    padding-bottom: 24px;
}
.Main_description{
    color: var(--light-coral);
    font-weight: 300;
    font-size: 35px;
    line-height: 30px;
    padding: 0px 0 25px 0;
}
.Main_description_p{
    color: var(--white);
    padding: 30px 0 30px 20px;
}
.Main_description_p_1{
    display: flex;
    flex-direction: row;
}
.column1{
    /* margin-left: -40px; */
    margin-right: 80px;
}
.column2{
    margin-top: -10px;
    /* margin-right: -150px; */
    padding: 0;
    /* margin-left: 100px; */
}
.form_inputs:focus{
    border-color: var(--rapture-blue);
}
    .form_inputs{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 34px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    outline: none;
    width: 540px;
}
.Message{
    padding: 25px 0 58px 15px;
}
.submit{
    margin-top: 20px;
}
.abaut_text{
    display: flex;
    flex-direction: row;
}
.knopka{
    margin-top: 10px;
    border: none;
    color: #004047;
}
::placeholder {
    color: var(--rapture-blue);
}
.name{
    padding-top:0;
    padding-bottom: 16px;
}
.error-field{
    border-bottom: 1px solid var(--light-coral);
     
    /* box-shadow: 3px 3px 20px rgb(219, 76, 63); ;  */
 }
 .error-field::placeholder{
    color: var(--light-coral);
 }
 .error-label{
     color: var(--light-coral) !important;
     padding-left: 15px;
 }
 .text_eror{
    font-weight: 700;
    font-size: 10px;
    line-height: 12,55px;
    font-style: italic;
    padding-top: 5px;
 }
/* -----------------
Mobile nav media query
------------------- */
@media (max-width:768px) {
    .header_nav{
        padding: 56px 24px 13px 24px;
    }
    .header_nav_links div a{
        display: none;
    }
    .open_btn svg{
        display: block ;
    }
    .nav_word{
        margin: 0;
    }
}

/* -------------------
Tablet media query from 1440px to 768px 
----------------------*/
@media (max-width:1440px) {
    /*nav */
    .header_nav{
        padding: 64px 40px 13px 40px;
    } 
    /* Home page Header banner */
    .Header_banner{
        padding: 100px 40px 256px 40px;
        flex-direction:column;
        text-align: center;
    }
    .h2_title{
        max-width: 600px;
        margin: 0 0 24px 0;
        align-self: center;
        font-weight: 700;
        font-size: 64px;
        line-height: 56px;
    }
    .home_banner_section_divider {
        display: none;
    }
    .p_header{
        max-width: 460px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
    }
    .bg-pattern-home-1 {
        display: none;
    }
    .bg-pattern-home-2 {
        right: 250px;
    }
    /* Home page Main 1 */
    .home_main-1 {
        padding: 100px 98px 100px 98px;
    }
    .home_main-1_section_divider {
        margin-bottom: 32px;
    }  
    .home_main-1 > div{
        display: flex;
        flex-direction: column;
    }
    .home_main-1_title_container {
        width: 100%;
        margin-right: 0px;
    }  
    .home_main-1_title_container .h2 {
        width: 445px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 64px;
    } 
    .home_main-1_description_container {
        width: 100%;
    }
    .bg-pattern-home-3 {
        position: absolute;
        right: -100px;
        top: 0;
    }
    /*  footer 1 */
    .footer_1{
        padding: 84px 98px 84px 98px; 
    }
    .footer_h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }
    .bg-pattern-home-6-about-5 {
        bottom: -22px; 
        z-index: 5;
    }
    /* about main2 */
    .about-main_clients{
        color: var(--white);
        text-align: center;
        padding: 100px 40px 50px 40px;
    }
    .about-img_container{
        display: flex;
        align-items: center;
        padding: 0px 40px 100px 40px;
    }
    .bg-pattern-about-4 {
        position: absolute;
        left: 0;
        top: -100px; 
    }
    /* contact us main */
    .main_contact_us{
        padding: 122px 113px 123px 105px;
        flex-direction: column;
        align-self: center;
        align-items: center;
    }
    .Main_description_p{
        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;
        width: 480px;
    }
    .column2{
        display: inline-block;
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-items: center;
        padding: auto;
    }
    .column1{
        padding: auto;
        display: inline-block;
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-items: center;
    }
    .knopka{
        display:flex;
        flex-direction: row;
        
    }
    .bg-pattern-about-2-contact-1 {
        position: absolute;
        left: -100px;
        bottom: 390px;
        top: 113px; 
    }
}

/* -------------------
Mobile media query from 768px
----------------------*/
@media (max-width:768px) {
    /*nav */
    .header_nav{
        padding: 48px 24px 13px 24px;
    } 
    /* Home page Header banner */
    .Header_banner{
        padding: 77px 24px 197px 24px;
    }
    .h2_title {
        max-width: 327px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
    }
    .bg-pattern-home-2 {
        left: 0;  
    }
    .p_header{
        max-width: 327px;
    }
    /* Home page Main 1 */
    .home_main-1 {
        padding: 64px 24px 64px 24px;
    }
    .home_main-1_title_container .h2 {
        width:240px;
    } 
    .home_main-1_description_box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /*  footer 1 */
    .footer_1{
        padding: 83px 24px 93px 24px; 
        flex-direction: column;

    }
    .footer_h2 {
        width: 300px;
        text-align: center;
        margin-bottom: 24px;
    }
    /* ----------AboutMain2----------- */
    .about-img_container{
        display: flex;
        align-items: center;
       flex-direction: column;
        text-align: center;
        margin-top: 64px;
        padding: 0px 165px 151px 165px;
        gap: 56px;
        justify-content: center;
    }
    /* contact us main */
    .main_contact_us{
        padding: 122px 24px 123px 24px;
        flex-direction: column;
        align-self: center;
        align-items: center;
    }
    .Main_description_p{
        display: flex;
        flex-wrap: wrap;
        /* word-break: break-all; */
    }
    .column2{
        display: inline-block;
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-items: center;
        padding: auto;
    }
    .column1{
        padding: auto;
        display: inline-block;
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-items: center;
    }
    .knopka{
        display:flex;
        flex-direction: row;
        
    }
    .bg-pattern-about-2-contact-1 {
        display: none; 
    }
    .bg-pattern-contact-2 {
       display: none;
    }
    .bg-pattern-contact-2-clone{
        display: block;
        position: absolute;
        bottom: 0;
        right: -100px;
    }
}