* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}
/* ------------------
colors
-------------------- */
:root {
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --white: #FFFFFF;
    --rapture-blue: #79C8C7;
    --police-blue: #2C6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012F34;
    --dark-green: #002529;
}

/* -------------------
typhography 
---------------------*/

.h1_large {
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
}
.h1_small {
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
}
.h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
.h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.body_1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
} 
.body_2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
} 

/* ------------------
buttons
-------------------- */

.btn {
    border-radius: 24px;
    padding: 9px 33px 11px 32px;
}

.primary_btn-light {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: var(--white);
}
.primary_btn-light:hover {
    background-color: var(--white);
    color: var(--dark-green);
}

.primary_btn-dark {
    border: 2px solid #012F34;
    background-color: transparent;
    color: var(--sacramento-state-green);
}
.primary_btn-dark:hover {
    background-color: var(--sacramento-state-green);
    color: var(--white);
}

.secondary_btn-light {
    border: 2px solid var(--white);
    background-color: var(--white);
    color: var(--dark-green);
}
.secondary_btn-light:hover {
    background-color: var(--rapture-blue);
    color: var(--dark-green);
}
/*----------------------- 
Header baner
----------------------- */
.Header_banner{
    background-color: var(--deep-jungle-green);
    color: var(--white);
    display: flex;
    flex-direction: row;
}
.h2_title{
    width: 800px;
    margin-left: 100px; 
    margin-top: 120px;
    margin-bottom: 170px; 
}
.p_header{
    width: 500px;
    margin-top: 220px;
    margin-right: 100px;
    margin-left: 40px;
}
.red{
    color:#F67E7E;
    margin: 0;
    display: inline;
}
