* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

/* ------------------
colors
-------------------- */
:root {
    --midnight-green: #014E56;
    --light-coral: #F67E7E;
    --white: #FFFFFF;
    --rapture-blue: #79C8C7;
    --police-blue: #2C6269;
    --deep-jungle-green: #004047;
    --sacramento-state-green: #012F34;
    --dark-green: #002529;
}

/* -------------------
typhography 
---------------------*/

.h1_large {
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
}
.h1_small {
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
}
.h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
.h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.body_1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
} 
.body_2 {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
} 

/* ------------------
buttons
-------------------- */

.btn {
    border-radius: 24px;
    padding: 9px 33px 11px 32px;
}

.primary_btn-light {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: var(--white);
}
.primary_btn-light:hover {
    background-color: var(--white);
    color: var(--dark-green);
}

.primary_btn-dark {
    border: 2px solid #012F34;
    background-color: transparent;
    color: var(--sacramento-state-green);
}
.primary_btn-dark:hover {
    background-color: var(--sacramento-state-green);
    color: var(--white);
}

.secondary_btn-light {
    border: 2px solid var(--white);
    background-color: var(--white);
    color: var(--dark-green);
}
.secondary_btn-light:hover {
    background-color: var(--rapture-blue);
    color: var(--dark-green);
}


/* Header nav */


.header_nav{
    padding: 73px 165px 13px 165px;
    background-color:var(--midnight-green);
    color: white;
}
.nav_h2 {
    margin-right: 42px;
    display: inline-block;
}

.nav_word{
    word-spacing: 40px;
    margin-left: 40px;
}
a:link {
    text-decoration: none;
}
.nav_word:link{
    color: var(--white);
}
.nav_word.nav:visited{
    color: var(--white);
}
.nav_word.nav:hover{
    color: var(--light-coral);
}
.header_nav_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left_header{
    display: flex;
    align-items: center;
}
.right_header{
    float: right;
    display: flex;
    align-items: center;
}

/*----------------------- 
Header baner
----------------------- */
.Header_banner{
    background-color: var(--midnight-green);
    color: var(--white);
    display: flex;
    flex-direction: row;
    position: relative;
}
.h2_title{
    width: 800px;
    margin-left: 165px; 
    margin-top: 120px;
    margin-bottom: 250px; 
}
.home_banner_section_divider {
    width: 50px;
    height: 4px;
    background-color: var(--rapture-blue);
    border: none;
    margin-top: 130px;
    margin-bottom: 79px;
    margin-left: 40px;
}
.p_header{
    max-width: 445px;
    margin-right: 100px;
    margin-left: 40px;
}
.red{
    color:#F67E7E;
    margin: 0;
    display: inline;
}

/* ---------------------
Home Main 1
---------------------- */

.home_main-1 {
    padding: 140px 165px 140px 165px;
    background-color: var(--sacramento-state-green);
    position: relative;
    overflow: hidden;
}

.home_main-1_section_divider {
    width: 50px;
    height: 4px;
    background-color: var(--light-coral);
    border: none;
    margin-bottom: 54px;
}

.home_main-1 > div{
    display: flex;
    flex-direction: row;
}
.home_main-1_title_container {
    color: var(--white);
    width: 50%;
    margin-right: 70px;
}

.home_main-1_title_container .h2 {
    width: 420px;
}

.home_main-1_description_container {
    width: 50%;
}

.home_main-1_description_box {
    display: flex;
    flex-direction: row;
}

.home_main-1_description_box > div {
    margin: 0 0 32px 23px;
}

.home_main-1_description_icon {
    width: 72px;
    height: 72px;
}

.home_main-1_description_icon-1 {
    margin-left: 4px;
}

.home_main-1_description_box .h3{
    color: var(--light-coral);
    margin-bottom: 16px;
}

.home_main-1_description_box .body_2 {
    color: var(--white);
    opacity: 0.8;
}
/* ----------------- */

/* -------------------
Background patterns
--------------------- */
.bg-pattern-home-1 {
    position: absolute;
    top: 120px;
    left: -100px;
}

.bg-pattern-home-2 {
    position: absolute;
    right: 165px;
    bottom: 0;
}

.bg-pattern-home-3 {
    position: absolute;
    right: -100px;
    bottom: 0;
}

.bg-pattern-home-4 {
    position: absolute;
    left: 0;
    top: 0; 
}

.bg-pattern-home-5 {
    position: absolute;
    right: 0;
    bottom: 0; 
}

.bg-pattern-home-6-about-5 {
    position: absolute;
    left: 0;
    bottom: 0; 
}

.bg-pattern-about-1-mobile-nav-1 {
    position: absolute;
    right: -100px;
    bottom: 0; 
}

.bg-pattern-about-4 {
    position: absolute;
    left: 0;
    top: 0; 
}

/* About main 2 */

.about-main_2{
    background-color: var(--sacramento-state-green);
    position: relative;
    
}
.about-main_clients{
    color: var(--white);
    text-align: center;
    padding: 140px 165px 70px 165px;
}
.about-img_container{
    display: flex;
    align-items: center;
    padding: 0px 165px 151px 165px;
}
.about-img_about{
    width: 70%;
}

/* ----------------------
Foter_section_1
------------------------- */
.footer_1{
    background-color: var(--light-coral);
    color: var(--sacramento-state-green);
    padding: 76px 263px 76px 263px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* -----------------
Desktop media query to 768px
------------------- */
/* @media (max-width:1440px) and (min-width:768px) {
@media (max-width:1440px) and (min-width:768px) {
    .container_sides_padding {
        padding-right: calc(15px + (100vw - 768px) * (15 - 60) / (768 -  1000));
        padding-left: calc(15px + (100vw - 768px) * (15 - 60) / (768 -  1000));
    };
};  */
/* ------------------- */

